img {
    width: 500px;
    height: auto;
    margin: 20px;
        margin-top: -600px;
        margin-right: 100px;
        margin-bottom: 50px;
        margin-left: -200px;
}
p{
    position: relative;
    top: 650px;
    left: 660px;
}